<section class="task-wrapper">
  <div class="input-wrapper">
    <input
      class="checkbox"
      class="checkbox"
      type="checkbox"
      name="task"
      [(ngModel)]="task()!.isChecked"
      (click)="checkTask(task()!.isChecked)"
    />

    @if(editMode()){
    <input
      class="edit-input"
      type="text"
      name="task"
      [(ngModel)]="editedTaskValue"
    />
    <div class="btns">
      <button class="save-btn" (click)="editTask()">Save</button>
      <button class="cancel-btn" (click)="editMode.set(false)">Cancel</button>
    </div>
    } @else {
    <p
      [style.textDecoration]="task()!.isChecked ? 'line-through' : 'none'"
      class="task-title"
    >
      {{ task()!.value }}
    </p>
    <div class="btns">
      <button class="edit-btn" (click)="editTask()">Edit</button>
      <button class="del-btn" (click)="deleteTask()">Delete</button>
    </div>
    }
  </div>
</section>
