<section class="task-wrapper">
  <input
    class="checkbox"
    class="checkbox"
    type="checkbox"
    name="task"
    [(ngModel)]="task.isChecked"
    (click)="checkTask(task.isChecked)"
  />

  @if(editMode){
  <input
    class="edit-input"
    type="text"
    name="task"
    [(ngModel)]="editedTaskValue"
  />
  <button class="save-btn" (click)="editTask()">Save</button>
  <button class="cancel-btn" (click)="editMode = false">Cancel</button>
  } @else {
  <p
    [style.textDecoration]="task.isChecked ? 'line-through' : 'none'"
    class="task-title"
  >
    {{ task.value }}
  </p>
  <button class="edit-btn" (click)="editTask()">Edit</button>
  <button class="del-btn" (click)="deleteTask()">Delete</button>
  }
</section>
