// $checkbox-size: 28px;
// $checkbox-border: 1px solid #ccc;
// $checkbox-border-radius: 4px;

// .task-wrapper {
//   display: flex;
//   gap: 24px;
//   padding: 12px 48px;
//   background-color: rgb(237, 241, 0);
//   width: fit-content;
//   align-items: center;
//   font-size: 20px;
//   border-radius: 12px;

//   .checkbox {
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     width: 20px;
//     height: 20px;
//     border: 1px solid #ccc;
//     border-radius: 12;
//     outline: none;
//     cursor: pointer;
//     transition-duration: 300ms;
//     position: relative;
//     &::before {
//       content: "";
//       display: block;
//       width: $checkbox-size - 4px;
//       height: $checkbox-size - 4px;
//       position: absolute;
//       top: 50%;
//       left: 50%;
//       border-radius: 12;
//       transform: translate(-50%, -50%);
//       background-color: white;
//       border: $checkbox-border;
//       transition-duration: 300ms;
//       border-radius: $checkbox-border-radius - 1px;
//     }
//     &:checked::before {
//       content: "☑️";
//       font-size: 18px;
//       color: #007bff;
//       text-align: center;
//       line-height: $checkbox-size - 4px;
//       transition-duration: 300ms;
//       border-radius: 12;
//     }
//     &:hover::before {
//       border-radius: 12;
//       transition-duration: 300ms;
//       background-color: #f0f0f0;
//     }
//   }
//   .edit-input {
//     font-size: 20px;
//     outline: none;
//     border: none;
//     padding: 8px;
//     margin: 0;
//     width: 220px;
//     color: rgb(0, 27, 116);
//     transition-duration: 300ms;
//     border-radius: 12px;
//   }

//   .task-title {
//     padding: 12px;
//     width: 220px;
//     overflow: hidden;
//     text-overflow: ellipsis;
//     color: rgb(0, 27, 116);
//     transition-duration: 300ms;
//     max-width: 220px;
//   }

//   .del-btn,
//   .edit-btn,
//   .cancel-btn,
//   .save-btn {
//     cursor: pointer;
//     text-align: center;
//     font-size: 20px;
//     padding: 12px;
//     width: 80px;
//     border-radius: 12px;
//     border: none;
//     background-color: rgb(0, 27, 116);
//     color: white;
//     transition-duration: 300ms;

//     &:hover {
//       transition-duration: 300ms;
//       background-color: rgb(1, 19, 78);
//     }
//     &:focus {
//       scale: 0.98;
//       transition-duration: 300ms;
//     }
//   }
// }

// @media all and (max-width: 720px) {
//   .main-wrapper {
//     .task-item {
//       width: 100%;
//       padding: 12px;
//       overflow-x: hidden;
//       font-size: 18px;
//       border-radius: 8px;
//       background-color: rgb(255, 255, 255);
//     }
//     .task-title {
//       max-width: 90%;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }
//   }
// }

$checkbox-size: 28px;
$checkbox-border: 1px solid #ccc;
$checkbox-border-radius: 4px;

.task-wrapper {
  .input-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    padding: 12px 48px;
    background-color: rgb(237, 241, 0);
    width: min(600px, 100%);
    align-items: center;
    font-size: 20px;
    border-radius: 12px;
    margin-inline: auto;

    .checkbox {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 20px;
      height: 20px;
      border: 1px solid #ccc;
      border-radius: 12;
      outline: none;
      cursor: pointer;
      transition-duration: 300ms;
      position: relative;
      &::before {
        content: "";
        display: block;
        width: $checkbox-size - 4px;
        height: $checkbox-size - 4px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 12;
        transform: translate(-50%, -50%);
        background-color: white;
        border: $checkbox-border;
        transition-duration: 300ms;
        border-radius: $checkbox-border-radius - 1px;
      }
      &:checked::before {
        content: "☑️";
        font-size: 18px;
        color: #007bff;
        text-align: center;
        line-height: $checkbox-size - 4px;
        transition-duration: 300ms;
        border-radius: 12;
      }
      &:hover::before {
        border-radius: 12;
        transition-duration: 300ms;
        background-color: #f0f0f0;
      }
    }
    .edit-input {
      font-size: 20px;
      outline: none;
      border: none;
      padding: 4px;
      margin: 0;
      width: clamp(120px, 50%, 100%);
      color: rgb(0, 27, 116);
      transition-duration: 300ms;
      border-radius: 12px;
    }

    .task-title {
      padding: 4px;
      font-size: 20px;
      width: clamp(150px, 1.5vw, 100%);
      text-overflow: ellipsis;
      color: rgb(0, 27, 116);
      transition-duration: 300ms;
    }
    .btns {
      display: flex;
      gap: 12px;

      .del-btn,
      .edit-btn,
      .cancel-btn,
      .save-btn {
        cursor: pointer;
        text-align: center;
        font-size: 20px;
        padding: 12px;
        width: clamp(80px, auto, 70%);
        border-radius: 12px;
        border: none;
        background-color: rgb(0, 27, 116);
        color: white;
        transition-duration: 300ms;

        &:hover {
          transition-duration: 300ms;
          background-color: rgb(1, 19, 78);
        }
        &:focus {
          scale: 0.98;
          transition-duration: 300ms;
        }
      }
    }
  }

  // @media screen and (max-width: 576px) {
  //   .task-wrapper {
  //     display: flex;
  //     flex-wrap: wrap;
  //     gap: 24px;
  //     padding: 12px 24px;
  //     background-color: rgb(237, 241, 0);
  //     max-width: 100%;
  //     align-items: center;
  //     font-size: 20px;
  //     border-radius: 12px;
  //     width: min(auto, 70%);
  //   }
  //   .checkbox {
  //     width: 16px;
  //     height: 16px;
  //     font-size: 12px;
  //   }

  //   .edit-input {
  //     font-size: 16px;
  //     padding: 6px;
  //     width: calc(100% - 40px);
  //   }

  //   .task-title {
  //     font-size: 16px;
  //     padding: 8px;

  //     width: min(100px, 70%);
  //   }

  //   .del-btn,
  //   .edit-btn,
  //   .cancel-btn,
  //   .save-btn {
  //     font-size: 16px;
  //     padding: 8px;
  //     width: 60px;
  //   }
  // }
}
