<section class="main-wrapper">
  <h1 class="todo-app-header">My fancy todo app</h1>
  <form class="todo-form" [formGroup]="form" (ngSubmit)="addTodo()">
    <label class="todo-input" id="input">
      <input
        name="input"
        type="text"
        class="input-field"
        placeholder="write a todo"
        formControlName="todoInput"
      />
      <input type="submit" class="todo-btn" value="add Todo" />
    </label>
  </form>
  <section class="tasks-wrapper">
    @for(task of tasks; track task._id;) {

    <task
      [@addRemoveAnimation]
      class="task-item"
      [task]="task"
      (checked)="checkedTask(task._id)"
      (delete)="deleteTask(task._id)"
      (edit)="editTask($event)"
    />
    } @empty {
    <p [@addRemoveAnimation] class="no-todos">no todos</p>
    }
  </section>
</section>
<router-outlet></router-outlet>
