.main-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  width: auto;
  height: 100vh;

  padding: 12px 0;
  background-color: rgb(21, 50, 145);

  .todo-app-header {
    font-size: 48px;
    color: white;
  }

  .todo-input {
    display: flex;
    transition-duration: 300ms;
    gap: 12px;

    .input-field {
      font-size: 28px;
      outline: none;
      border: none;
      padding: 12px;
      color: rgb(0, 27, 116);
      transition-duration: 300ms;
      border-radius: 12px;
    }
    .todo-btn {
      cursor: pointer;
      text-align: center;
      font-size: 28px;
      padding: 12px;

      border-radius: 12px;
      border: none;
      color: rgb(0, 27, 116);
      transition-duration: 300ms;
      background-color: rgb(237, 241, 0);

      &:hover {
        transition-duration: 300ms;
        background-color: rgb(197, 201, 0);
      }
    }
  }

  .tasks-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 12px;
    height: fit-content;
    overflow: auto;
    border-radius: 12px;
    padding: 12px;

    &::-webkit-scrollbar {
      width: 0;
    }

    .no-todos {
      color: white;
      font-size: 32px;
      padding: 44px;
    }
  }
  .task-item {
    transition: all 1300ms ease-in;
  }
}

/* Default styles for all screen sizes */

/* Extra Small Devices (Phones) */
@media all and (max-width: 576px) {
  /* Styles specific to extra small devices */
  .main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    width: auto;
    max-width: auto;
    height: 100vh;

    padding: 12px 0;
    background-color: rgb(21, 50, 145);

    .todo-app-header {
      font-size: 36px;
      color: white;
    }

    .todo-input {
      display: flex;
      flex-direction: column;
      justify-items: center;
      transition-duration: 300ms;
      gap: 12px;

      .input-field {
        font-size: 28px;
        outline: none;
        border: none;
        padding: 12px;
        color: rgb(0, 27, 116);
        transition-duration: 300ms;
        border-radius: 12px;

        .todo-btn {
          cursor: pointer;
          text-align: center;
          font-size: 28px;
          padding: 12px;

          border-radius: 12px;
          border: none;
          color: rgb(0, 27, 116);
          transition-duration: 300ms;
          background-color: rgb(237, 241, 0);

          &:hover {
            transition-duration: 300ms;
            background-color: rgb(197, 201, 0);
          }
        }
      }
    }
    .task-item {
      display: flex;
      justify-content: center;
      align-items: center;
      max-width: fit-content;
      transition: all 1300ms ease-in;
      .tasks-wrapper {
        display: flex;
        align-items: center;

        gap: 8px;
        max-width: fit-content;
        overflow: auto;
        border-radius: 12px;
        padding: 12px;

        &::-webkit-scrollbar {
          width: 0;
        }

        .no-todos {
          color: white;
          font-size: 32px;
          padding: 44px;
        }
      }
    }
  }
}

/* Small Devices (Tablets) */
@media all and (min-width: 577px) and (max-width: 768px) {
  /* Styles specific to small devices */
}

/* Medium Devices (Laptops) */
@media all and (min-width: 769px) and (max-width: 992px) {
  /* Styles specific to medium devices */
}

/* Large Devices (Desktops) */
@media all and (min-width: 993px) and (max-width: 1200px) {
  /* Styles specific to large devices */
}

/* Extra Large Devices (Large Desktops) */
@media all and (min-width: 1201px) {
  /* Styles specific to extra large devices */
}
