<section class="main-wrapper">
  <h1 class="todo-app-header">My fancy todo app</h1>
  <form class="todo-form" [formGroup]="form" (ngSubmit)="addTodo()">
    <label class="todo-input" id="input">
      <input
        name="input"
        type="text"
        placeholder="write a todo"
        formControlName="todoInput"
      />
      <input type="submit" value="add Todo" />
    </label>
  </form>
  @for(task of tasks; track task._id){
  <task [isChecked]="task.isChecked" [taskValue]="task.value" />
  } @empty {
  <p>no todos</p>
  }
</section>
<router-outlet></router-outlet>
